<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>Felipe Bastos</title>
    <link rel="stylesheet" href="/static/styles.css"></head>
</head>

<body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="/static/runtime.js"></script>
	<script type="text/javascript" src="/static/polyfills.js"></script>
	<script type="text/javascript" src="/static/main.js"></script>
</body>

</html>