<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <title>FelipebastosprobrFront</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'blog/styles.f2a09df5d94ee96c.css' %}" media="print" onload="this.media='all'">
  <noscript>
    <link rel="stylesheet" href="{% static 'blog/styles.f2a09df5d94ee96c.css' %}">
  </noscript>
</head>

<body>
  <app-root></app-root>
  <script src="{% static 'blog/runtime.94e0444657399d25.js' %}" type="module"></script>
  <script src="{% static 'blog/polyfills.935fd11dc83eb587.js' %}" type="module"></script>
  <script src="{% static 'blog/main.d5afa8f8a325d849.js' %}" type="module"></script>

</body>

</html>